body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(227, 154, 20), rgb(255, 39, 1));
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}